body     {}
#tetris   { margin-top: 12px; }
#stats    { display: inline-block; vertical-align: top; }
#canvas   { display: inline-block; vertical-align: top; background-color: #FAFAFA; }
#menu     { display: inline-block; vertical-align: top; }
#menu p   { margin: 0.5em 0; text-align: left; font-size: 19px;font-weight: 300;margin-left:61px;}
#menu p a { text-decoration: none; color: black; }
#upcoming { display: block; margin: 0 auto; background-color: #FAFAFA; }
#score    { font-weight: bold; vertical-align: middle; }
#rows     { font-weight: bold; vertical-align: middle; }
#stats    {bottom: 0em; right: 1em; }
@media screen and (min-width: 0px) and (min-height: 0px)  { #tetris { font-size: 1.00em; width: 350px; } #menu { width: 150px; height: 300px; } #upcoming { width:  75px; height:  75px; } #startGame{ width:  75px; font-size:11px;} #canvas { width: 150px; height: 300px; } } /* 15px chunks */
@media screen and (min-width: 500px) and (min-height: 500px)  { #tetris { font-size: 1.25em; width: 450px; } #menu { width: 200px; height: 400px; } #upcoming { width: 100px; height: 100px; } #startGame{ width: 100px;font-size:15px;} #canvas { width: 200px; height: 400px; } } /* 20px chunks */
@media screen and (min-width: 700px) and (min-height: 700px)  { #tetris { font-size: 1.50em; width: 550px; } #menu { width: 250px; height: 500px; } #upcoming { width: 125px; height: 125px; } #startGame{ width: 125px;font-size:15px;} #canvas { width: 250px; height: 500px; } } /* 25px chunks */


.tetris-intro{
	margin-bottom:10px;
}

#scoreForm p{ text-align:center;}
#finalScore{
	display: block;
	font-size: 100px;
	text-align: center;
	color: #008cba;
}

#startGame{
	margin: 0 auto;
	display: block;
}

.modal-dialog{
	z-index:1000;
}

.modal-backdrop{
	z-index:10;
}